@import url('https://fonts.googleapis.com/css2?family=Glory:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Joti+One&family=Montserrat:wght@400;700&family=Nunito:wght@200;600;700&display=swap');
/*
 font-family: 'Glory', sans-serif;
font-family: 'Joti One', cursive;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

main {
  min-height: 100vh;
}

.navlink {
  text-decoration: none;
}


/*-- Här börjar style kod för Header componenten --*/

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #FFBD00;
}

.header h1 {
  font-size: 2rem;
  font-family: 'Joti One', cursive;
  padding: 1rem;
}

nav {
  font-size: 1.5rem;
  font-family: 'Glory', sans-serif;
  padding: 1rem;
  padding-top: 2rem;
}

.logout-btn {
  font-family: 'Glory', sans-serif;
  font-size: 1.5rem;
  background-color: transparent;
  text-decoration: none;
  border: none;
  color: black;
  Margin: 0rem 1rem;
  cursor: pointer;
}

.cart-counter {
  padding: 0 3px;
  font-weight: bold;
  border-radius: 5px;
  position: relative;
  top: -15px;
  font-family: unset;
  font-variant: normal;
  color: white;
  background-color: red;
}

.nav-btn {
  padding: 0.5rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  display: none;
}

.hamburger-nav {
  display: none;
}

/*-- Här slutar style kod för Header component --*/

/* Här börjar koden för HomePage */

.homepage {
  background: url("https://images.pexels.com/photos/8887539/pexels-photo-8887539.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 1rem;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homepage h2 {
  color: #FFBD00;
  font-family: 'Joti One', cursive;
  font-size: 5rem;
  margin: 5rem;
}

/* Här slutar koden för Homepage */

/* Här börjar Koden för ProductsPage */

.search-and-filter {
  background-color: #FFBD00;
  border-top: 1px solid black;
  border-bottom: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: end;
  position: relative;
  min-height: 8rem;
}

.search-form {
  margin-bottom: 1rem;
}

.search-form input {
  font-size: 1.2rem;
  border-radius: 0.2rem;
  padding: 0.3rem;
  margin-right: 1rem;
}

.search-button {
  font-size: 1.4rem;
  padding: 0.1rem 1rem;
  background-color: #FF5400;
  color: white;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
}

.sorting-box {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 1rem;
  margin-top: 5rem;
}

.sorting-box button {
  margin-left: 15rem;
  font-size: 1.5rem;
  border: none;
  background: none;
  cursor: pointer;
}

.products-card-box {
  margin: 1.5rem 1rem;
  position: relative;
}

.products-card-box ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1.5rem;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #FFBD00;
  padding: 2rem 0;
  list-style: none;
  border: 1px solid black;
  border-radius: .2rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  text-align: center;
  max-width: 20rem;
  margin: 0 auto;
}

.product-card:hover {
  transform: scale(1.03);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.image-box {
  min-height: 15rem;
}

.product-card div img {
  max-width: 100%;
}

.name-and-price-box {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  margin: 0.8rem 0;
}

.name-and-price-box h3, .name-and-price-box p {
  font-size: 1.5rem;
  font-family: 'Glory', sans-serif;
  color: black;
}

.product-card button {
  font-size: 1.5rem;
  font-family: 'Glory', sans-serif;
  padding: 0.2rem 0;
  border: none;
  background-color: #FF5400;
  color: white;
  cursor: pointer;
  border-radius: 0.2rem;
  margin: 0.2rem 1rem;
}

.product-card button:hover {
  transform: scale(1.03);
}

.exist-msg {
  position: fixed;
  padding: 0.5rem;
  border-radius: 0.2rem;
  z-index: 2;
  top: 1rem;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: rgb(250, 141, 141);
  font-size: 1.5rem;
}

/* Här slutar koden för ProductsPage */

/* Här börja koden för ProductPage */

.product-page {
  width: 90%;
  margin: 2rem auto;
  background-color: #FFBD00;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 0.2rem;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.img-container {
  width: 90%;
  display: flex;
}

.img-container img {
  width: 80%;
  margin: 0 auto;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.name-n-price-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 70%;
  margin: 1rem 0;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Glory', sans-serif;
}

.product-page button {
  font-size: 1.5rem;
  font-family: 'Glory', sans-serif;
  padding: 0.2rem 0.5rem;
  margin: 1rem 0;
  font-weight: bold;
  background-color: #FF5400;
  color: white;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
}

.product-page button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.product-info {
  font-size: 1rem;
  text-align: center;
  width: 70%;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid black;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

/* Här sluta koden för ProductPage */

/* Här börja kod för login form */

.login-form {
  background-color: #FFBD00;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  min-height: 80vh;
  border: 2px solid black;
  margin: 4rem 6rem;
  padding-top: 9rem;
}

.login-form h2 {
  font-size: 2rem;
  font-family: 'Glory', sans-serif;
  margin: 4rem;
}

.login-form form {
  display: flex;
  flex-direction: column;
}

.login-form form input {
  font-size: 1.5rem;
  border-radius: 0.2rem;
  font-family: 'Glory', sans-serif;
  padding: 0.3rem;
  margin: 1rem;
}

.login-form form button {
  font-size: 1.5rem;
  padding: 0.4rem 2rem;
  border: none;
  border-radius: 0.2rem;
  background-color: #FF5400;
  font-family: 'Glory', sans-serif;
  font-weight: 600;
  cursor: pointer;
  margin: 1rem;
}

/* Här slutar kod för login form */

/* Här börjar kod för admin lägg till produkt */



.admin-page h2 {
  font-family: 'Glory', sans-serif;
  font-size: 2rem;
  margin: 1rem 0;
  text-align: center;
}

.admin-main {
  background-color: #FFBD00;
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 80vh;
  border: 2px solid black;
  border-right: none; border-left: none;
  margin-top: 1rem;
}

.heading-box {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Glory', sans-serif;
  font-size: 1.5rem;
  margin-left: 1rem;
  margin-top: 5rem;
}

.heading-box * {
  margin: 0 1rem;
}

.form-box {
  margin-top: 15rem;
}

.form-box h3 {
  font-size: 1.5rem;
  font-family: 'Glory', sans-serif;
  margin: 1rem 0;
}

.form-box form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-box form textarea {
  font-size: 1.5rem;
  font-family: 'Glory', sans-serif;
  padding: 0.3rem;
  border-radius: 0.2rem;
  margin: 1rem 0;
  min-width: 22rem;
}


.form-box form input {
  font-size: 1.5rem;
  font-family: 'Glory', sans-serif;
  padding: 0.3rem;
  border-radius: 0.2rem;
  margin: 1rem 0;
  min-width: 22rem;
}

.form-box form button {
  font-size: 1.5rem;
  font-family: 'Glory', sans-serif;
  font-weight: 600;
  padding: 0.3rem 1rem;
  border: none;
  border-radius: 0.2rem;
  background-color: #FF5400;
  color: white;
  cursor: pointer;
}

/* Här slutar kod för admin lägg till produkt */

/* Här börjar kod för lägg till admin sidan */

.admin-users-container {
  background-color: #FFBD00;
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 80vh;
  border: 2px solid black;
  margin: 3rem;
}

.admin-users-container h2 {
  font-family: 'Glory', sans-serif;
  font-size: 2rem;
  margin: 1rem 0;
  text-align: center;
}

.admin-users-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin-users-container form input {
  font-size: 1.5rem;
  font-family: 'Glory', sans-serif;
  padding: 0.3rem;
  border-radius: 0.2rem;
  margin: 1rem 0;
  min-width: 22rem;
}

.admin-users-container form button {
  font-size: 1.5rem;
  font-family: 'Glory', sans-serif;
  font-weight: 600;
  padding: 0.3rem 1rem;
  border: none;
  border-radius: 0.2rem;
  background-color: #FF5400;
  color: white;
  cursor: pointer;
}

.admin-list-box {
  background-color: white;
  margin: 3rem;
  border-radius: 0.2rem;
  min-height: 20rem;
}

.admin-list-box h3 {
  font-family: 'Glory', sans-serif;
  font-size: 1.5rem;
  margin: 0.5rem 0;
  text-align: center;
}

.userlist {
  list-style: none;
  display: flex;
  justify-content: space-around;
  font-size: 1.3rem;
}

.userlist button {
  padding: 0.2rem;
  border: none;
  background-color: #FF5400;
  color: white;
  border-radius: 0.2rem;
  cursor: pointer;
}

/* Här slutar kod för lägg till admin sidan */

/* Här börjar koden för cartpage */

.cart-items {
  margin: 3rem auto;
  width: 80%;
  background-color: #FFBD00;
  border: 2px solid black;
  border-radius: 0.5rem;
}

.cart-items-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 2rem;
  font-size: 1.5rem;
  border-bottom: 2px solid black;
}

.cart-items-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 2rem 0;
}

.cart-items-image {
  width: 10rem;
  height: auto;
  border: 2px solid black;
  margin-right: 1rem;
}

.cart-items-list {
  display: flex;
  align-items: center;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
  font-size: 1.3rem;
  font-weight: 600;
  justify-content: center;
}

.cart-items-name,
.cart-items-funtion {
  width: 25%;
}

.cart-items-add,
.cart-items-remove {
  width: 3rem;
  margin-right: 1.5rem;
  font-weight: 600;
  border: none;
  border-radius: 0.2rem;
  font-size: 1.4rem;
  color: white;
  cursor: pointer;
  background-color: #FF5400;
}

.cart-items-total-price-name {
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 22%;
  font-size: 1.5rem;
  font-weight: 600;
  border-top: 2px solid black;
}

.cart-items-total-price {
  display: flex;
  padding-left: 45%;
}

/* Här slutar koden för cartpage */

/* -- Här börjar koden för Footer component */

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #FFBD00;
  font-size: 1rem;
  font-family: 'Glory', sans-serif;
  padding: 2rem 1rem;
  /* position: absolute;
  bottom: 0; */
}

.socialmedia-box div {
  display: flex;
  justify-content: space-around;
}

.socialmedia-box div i {
 margin: 1rem 0;
 font-size: 2rem;
}

/* -- Här slutar style kod för Footer component */


/* validation */

.errormessage {
  font-size: 1.2rem;
  margin: 0.2rem;
  color: rgb(255, 63, 63);
  font-family: 'Glory', sans-serif;
}

/* Här börjar koden för mediaqueries */

@media screen and (max-width: 780px) {
  .cart-items {
    width: 100%;
  }

  .cart-items-list {
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    padding: 2rem 0;
    text-align: center;
  }

  .cart-items-list-container {
    margin: 0 auto;
  }

  .cart-items-total-price-name {
    padding: 2rem 0;
  }
}

@media screen and (max-width: 571px) {
  .product-page {
    width: 100%;
  }

  .name-n-price-container {
    text-align: center;
  }

  .img-container, .img-container img {
    width: 100%;
  }

  .nav-btn {
    display: block;
  }


  .hamburger-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    background-color: #FFBD00;
    transition: 1s;
    transform: translateY(-100vh);
    display: flex;
    z-index: 3;
  }

  .hamburger-nav div {
    display: flex;
    justify-content: center;
  }

  .responsive-nav {
    transform: none;
  }

  .default-nav {
    display: none;
  }

  .homepage {
    height: unset;
    background-size: 100% auto;
    background-color: #FFF8D6;
  }

  .homepage h2 {
    font-size: 3.5rem;
  }

  .footer {
    flex-direction: column;
    gap: 3rem;
    text-align: center;
  }

  .cart-items-list {
    margin: 0 auto;
    
  }

  .cart-items-image {
    width: 11rem;
  }
}